div {
  max-width: 250px;
  max-height: 300px;
}

p {
  display: flex;
  margin: 0px;
}

p input {
  flex: 1 1 0;
  background-color: darkgray;
  color: white;
}

p button {
  flex: 1 1 0;
  height: 50px;
}

.orangeButtons {
  background-color: orange;
}
