div {
  max-width: 250px;
  max-height: 350px;
  background-color: lightgray;
  border-radius: 8px;
}

p {
  display: flex;
  margin: 0;
}

p input {
  flex: 1 1 0;
  background-color: gray;
  color: white;
  font-weight: lighter;
  height: 50px;
  max-height: 50px;
  text-align: right;
  font-size: 250%;
  max-width: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

p button {
  flex: 1 1 0;
  height: 50px;
  background-color: lightgray;
  padding: 0;
  border: 1px solid darkgray;
}

.numberButton {
  background-color: #F2EFF0;
}

.orangeButtons {
  background-color: orange;
  color: white;
}

#zero {
  border-bottom-left-radius: 5px;
}

#equal {
  border-bottom-right-radius: 5px;
}
